@keyframes fadeIn {
    from {
        color: rgba(0,0,0,0);
    }
}

@font-face {
    font-family: Syne;
    src: url('fonts/Syne-VariableFont_wght.ttf');
}

body {
    background-color: black;
}

#title {
    text-align: center;

    font-family: Syne;
    font-size: 4vw;
    color: white;
}

#subtitle {
    text-align: center;
    
    font-family: Arial;
    font-size: 1vw;
    color: white;
}

#inputs {
    text-align: center;
}

input {
    text-align: center;
    background-color: black;
    width: 10vw;
    height: 1.5vw;
    border-radius: 20px;
    border-color: white;
    color: white;
}

button {
    background-color: black;
    width: 5vw;
    height: 1.5vw;
    border-radius: 20px;
    border-color: white;
    color: white;
}